* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.input-div {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 10px;
  width: 30%;
  border-radius: 5px;
  font-size: 18px;
}


.error {
  color: red;
  font-size: 15px;
  padding-left: 20px;
}

.btn {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px blue;
}

.mesH1{
  text-align: center;
  font-size: 100px;
  color: crimson;
}
